*{
  margin: 0;
  padding: 0;
}



.App {
    display: flex;
    flex: 5;
    height: 100vh;
    width: 100vw;
    transition: 1s;
    margin: 0;
    padding: 0;
  }

.MenuBars {
    /* background-color: green; */
    height: 100vh;
    /* flex: 1; */
    width:25%;
    border-right: 1px solid #e6ecf0;

    /* position: sticky; */
    /* position: fixed; */

    /* display: flex; */
  }

  .MenuBars ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 10%; */
    /* padding-left: 10%; */
    /* align-items: center; */
  }

  .icon {
    margin-left: 30px;
  }
  
  .MenuBars > ul > .FaTwitter {
    /* width: 500px !important; */
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    /* margin-top: 2px; */
    color: black;
    font-size: 27px;
    font-weight: 100;
    /* padding-left: 30px; */
  
    height: 60px;
    /* background-color: #e8f5fe; */
  }
  
  .FaTwitter .icon1{
    margin-left: 35px;
    color: #1da1f2;
  }



 .MenuBars ul li:hover {
  width: 100% ;
  color: #1da1f2;;
  background-color: #e8f5fe;
 }

  /* li :hover { */
    /* width: 400px !important; */
    /* text-decoration: none; */
    /* list-style: none; */
    /* align-items: center; */
    /* margin-top: 2px; */
    /* color: #1da1f2; */
    /* font-size: 30px; */
    /* font-weight: 100; */
    /* padding-left: 30px; */
  
    /* height: 60px; */
    /* background-color: #e8f5fe; */
  /* } */
  .MenuBars > .home > .twiterImg {
    width: 60px;
  }
  ul{
    margin-bottom: 20px;
  }
.tweetBtn{
  background-color: #1da1f2;
  color: white;
  text-align: center;
  border-radius: 50px;
  font-size: 25px;
  padding: 5px 70px 5px 70px ;
  margin: 30px;
}

.content {
  width: 50vw;
  height: 100vh;

  /* margin-top: 10px; */
  /* border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black; */

}
.sideBar{
  width: 25vw;
  border-left: 1px solid #e6ecf0;

  /* background-color: cadetblue; */
}

.home{
  padding: 10px 0px 10px 20px;
  border-bottom: 1px solid #e6ecf0;

}
.home2{
  padding: 10px 0px 10px 20px;
  display: flex;
  
}
.profile_photo{
  align-items: center;
  justify-content: center;
  width: 7%;
  border-radius: 50% ;
}
.input_profile{
  border-radius: 30%;
  width: 40%;
  border: none;
  padding: 10px;
  outline: none;
  
}

.icon_profile{
  display: flex;
  border-bottom: 1px solid #e6ecf0;
}

.cover{
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;

}
.cover_icons{
  color: #1da1f2;
  font-size: 20px;
  padding-left: 5px;
}
.btn_profile{
  width: 79%;
  justify-content: end;
  align-items: end;
  
}
.button_profile{
  background-color: #1da1f2;
  color: #e6ecf0;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 10px 20px;
  float: right;
  margin-top: 12px;
  font-size: 14px;
  margin-bottom: 8px;

}

.sidebar_input{
  border-radius: 30px;
  width: 80%;
  border: none;
  padding: 10px;
  outline: none;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #f5f4f2;
  display: flex;


}
.search_input{
  border-radius: 30px;
  width: 89%;
  background-color: #f5f4f2;
  border: none;
  padding: 5px;
  outline: none;

}
.search_icon{
  font-size: 20px;
  color: silver;
  align-items: center;
  padding-top: 2px;
}


/*  post */
.post_profile{
  align-items: center;
  justify-content: center;
  width: 7%;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 10px;

}



/* .trending{
  position: fixed;
  top: 80px;
  right: 0;
  width: 25%;
  padding: 20px;
} */
.trends{
  background: #f5f8fa;
  padding: 15px;
  width: 85%;
  border-radius: 5px;
  margin-top: 50px;
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
}
.main{
  border-bottom: 1px solid #e6ecf0;
  
}
.for{
  padding-bottom: 8px;
  font-size: 20px;
}
.country{
  font-size: 14px;
  color: silver;
  font-weight: 300;
  margin: 10px 0;
}

