*{
  margin: 0;
  padding: 0;
}



.App {
    display: flex;
    height: 100vh;
    width: 100vw;
    transition: 1s;
    margin: 0;
    padding: 0;
  }

.MenuBars {
    /* background-color: green; */
    height: 100vh;
    /* flex: 1; */
    width: 30vw;
    position: sticky;
    /* display: flex; */
  }
  
 
  .MenuBars > ul > .FaTwitter {
    width: 500px !important;
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin-top: 2px;
    color: black;
    font-size: 30px;
    font-weight: 100;
    padding-left: 30px;
  
    height: 60px;
    /* background-color: #e8f5fe; */
  }
  
  .MenuBars > ul > .FaTwitter1 {
    width: 500px !important;
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin-top: 2px;
    color: #1da1f2;
    font-size: 30px;
    font-weight: 100;
    padding-left: 30px;
    margin-top: 5px;
    height: 60px;
    /* background-color: #e8f5fe; */
  }



  /* li :hover { */
    /* width: 400px !important; */
    /* text-decoration: none; */
    /* list-style: none; */
    /* align-items: center; */
    /* margin-top: 2px; */
    /* color: #1da1f2; */
    /* font-size: 30px; */
    /* font-weight: 100; */
    /* padding-left: 30px; */
  
    /* height: 60px; */
    /* background-color: #e8f5fe; */
  /* } */
  .MenuBars > .home > .twiterImg {
    width: 60px;
  }
.tweetBtn{
  background-color: #1da1f2;
  width: 200px;
  color: white;
  text-align: center;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px;
  margin-left: 30px;
}

.content {
  background-color: red;
  /* height: 100vh; */
  /* overflow: visible; */
  overflow-y: scroll;
  width: 40vw;
  /* flex: 2; */
  border-left: 2px solid grey;
  border-right: 2px solid grey;

}

